*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
  width: 1200px;
  margin: 0 auto;
  background: #222feb;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background: #ffffff;
  border-right: 50px solid #d9e6f3;
  border-left: 50px solid #d9e6f3;
}
.ramka {
  font-size: 16px;
  background-color: rgb(235, 241, 245);
  color: #000;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  margin: 20px 0 20px 0;
}

span {
  color: rgb(201, 23, 23);
}

.tab {
  margin: 0 auto; /* таблица расположена по центру */
  padding: 0px;
  width: 80%;
  border-spacing: 0px;
  border-collapse: collapse;
}
.tab caption {
  font-weight: 600;
}
.tab td {
  padding: 6px;
  border: 1px solid #7e5a25;
  vertical-align: top;
  text-align: left;
  font-size: 15px;
}
.tab th {
  padding: 6px;
  border: 1px solid #7e5a25;
  vertical-align: top;
  text-align: left;
  font-size: 15px;
}
