*,
*::before,
*::after {
  box-sizing: border-box;
}
.body {
  width: 1200px;
  margin: 0 auto;
  background: #222feb;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background: #ffffff;
  border-right: 50px solid #d9e6f3;
  border-left: 50px solid #d9e6f3;
}
.ramka {
  font-size: 16px;
  background-color: rgb(235, 241, 245);
  color: #000;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  margin: 20px 0 20px 0;
}
